.mainContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.heroContainer {
    display: flex;
    align-items: center;

}

.authenticationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;

}