.dataCardsContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 25px;
    padding: 50px;
}

.balanceTitle {
    padding: 50px;
    padding-bottom: 0px;
    font-size: 2rem;
    font-weight: 600;
}