.totalCardsContainer {
        background-color: brown;
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 35px;
        justify-content: center;
        padding: 80px 0px;
}

.addFormContainer {
        background-image: url("/public/photos/formBgCover.png");
        background-size: cover;
        background-repeat: no-repeat;
        padding: 70px 0px;
        border-radius: 0 0 25px 25px;
}