.headerContainer {
    border: 3px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
}


.logo {
    width: 8%;
}

.btnContainer {
    border: 1px solid white;
    display: flex;
    gap: 5px;
}



.loginBtn {
    width: 12rem;
    height: 3rem;
    flex-shrink: 0;
    border-radius: 3.1875rem;
    background: linear-gradient(90deg, #303030 51%, rgba(29, 27, 27, 0.37) 100%);
    backdrop-filter: blur(12.399999618530273px);
    color: white;
    font-size: 1rem;
}

.logOutBtn {
    width: 12rem;
    height: 3rem;
    flex-shrink: 0;
    border-radius: 3.1875rem;
    background: linear-gradient(90deg, #303030 51%, rgba(29, 27, 27, 0.37) 100%);
    backdrop-filter: blur(12.399999618530273px);
    color: white;
    font-size: 1rem;
}


