.headerContainer {
    border-bottom: 1px solid rgba(255, 255, 255, 0.438);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
}


.logo {
    width: 8%;
}

.btnContainer {
    display: flex;
    gap: 5px;
}



.loginBtn {
    width: 9rem;
    height: 2.5rem;
    flex-shrink: 0;
    border-radius: 3.1875rem;
    background: linear-gradient(90deg, #303030 51%, rgba(29, 27, 27, 0.37) 100%);
    backdrop-filter: blur(12.399999618530273px);
    color: white;
    font-size: 1rem;
}

.logOutBtn {
    width: 9rem;
    height: 2.5rem;
    flex-shrink: 0;
    border-radius: 3.1875rem;
    background: linear-gradient(90deg, #303030 51%, rgba(29, 27, 27, 0.37) 100%);
    backdrop-filter: blur(12.399999618530273px);
    color: white;
    font-size: 1rem;
}


