.FooterContainer {
    padding: 100px 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    height: 40vh;
    background-image: url("/public/photos/footerCover.png");
    background-size: cover;
    background-repeat: no-repeat;
}


.navigationContainer {
    display: flex;
    flex-direction: row;
    gap: 50px;
}



.linkContainer h4 {
    font-weight: 400;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.linkContainer a {
    display: block;
    text-decoration: none;
    color: white;
    font-weight: 200;
    font-size: 0.9rem;
}