:root {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    overflow-x: hidden;
    margin-right: 50px;
    background-color: #161616;
    color: white;
}

/* COMMON COMPONENTS */

/* Global main styling of a button. Use modules classNames to different styling options. */
#global-btn {
    width: 14.94619rem;
    height: 4.0625rem;
    flex-shrink: 0;
    border-radius: 3.1875rem;
    background: linear-gradient(90deg, #6145B4 51%, rgba(97, 69, 180, 0.37) 100%);
    backdrop-filter: blur(12.399999618530273px);
    color: white;
    font-size: 1rem;
}

#global-input {
    width: 100%;
    padding: 20px;
    border-radius: 0.7rem;
    background: #000;
    /* reunus */
    border: 2px solid #383838; /* Oletusreunusväri */
    transition: border-color 0.3s ease-in-out; /* Siirtymä reunusvärille */
    outline: none; /* Poistaa oletustyylin focus-tilassa */
}

#global-input:focus {
    border-color: #6145b49f; /* Reunusväri focus-tilassa */
}

#global-select {
    width: 100%;
    padding: 20px;
    border-radius: 0.7rem;
    background: #000;
    /* reunus */
    border: 2px solid #383838; /* Oletusreunusväri */
    transition: border-color 0.3s ease-in-out; /* Siirtymä reunusvärille */
    outline: none; /* Poistaa oletustyylin focus-tilassa */
}

#global-select:focus {
    border-color: #6145b49f; /* Reunusväri focus-tilassa */
}